h2, h4 {
  color: rgb(160, 37, 129);
  text-transform: uppercase;
}

ul {
  list-style-type: disc;
}

footer {
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: #121212;
  }
}